<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    <h1> The main page for user data management</h1>

    <h3>The total number of user are :<%=count%></h3>
    <form method="get" action="http://localhost:3000/home/table">
         <button type="submit">See user list</button>
    </form>
    
</body>
</html>